.card-content{
    display: flex;
    justify-content: center;
    align-items: center;
}

.navbar-nav{
    font-weight: bold;
}

.navbar-nav a {
    color: black;
}

.navbar-nav a:hover {
    color: gray;
}

/* ======FORM====== */

.feedback{
    padding: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card{
    width: 350px;
    padding: 25px;
}

.btn{
    background-color: lightgray;
}